footer {
  padding: 1.5rem;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

.vertical-grid {
  display: grid;
  grid-auto-flow: row;
}
