<section>
  <h1>#Contact me</h1>
  <p class="text">
    If you want to get in touch with me please use the contact form below.
  </p>
  <form
    id="contactForm"
    [formGroup]="contactForm"
    (ngSubmit)="sendQuestion(contactForm.value)"
    autocomplete="off"
  >
    <div class="firsthalfgrid">
      <label>Name:</label>
      <input type="text" formControlName="name" placeholder="Name"/>
      <div
        class="hint-text"
        *ngIf="
          !contactForm.controls['name'].valid &&
          contactForm.controls['name'].touched
        "
      >
        Put in your name.
      </div>
    </div>
    <div class="secondhalfgrid">
      <label>E-Mail:</label>
      <input
        type="email"
        formControlName="email"
        placeholder="E-M@il"
      />
      <div
        class="hint-text"
        *ngIf="
          !contactForm.controls['email'].valid &&
          contactForm.controls['email'].touched
        "
      >
        Put in your e-mail address.
      </div>
    </div>
    <div class="fullgrid">
      <label>Subject:</label>
      <input
        type="text"
        formControlName="subject"
        placeholder="Subject"
      />
      <div
        class="hint-text"
        *ngIf="
          !contactForm.controls['subject'].valid &&
          contactForm.controls['subject'].touched
        "
      >
        Put in the subject of your message.
      </div>
    </div>
    <div class="fullgrid">
      <label>Message:</label>
      <textarea
        formControlName="question"
        cols="89"
        rows="10"
        value=""
      ></textarea>
      <div
        class="hint-text"
        *ngIf="
          !contactForm.controls['question'].valid &&
          contactForm.controls['question'].touched
        "
      >
        Put in your Message.
      </div>
    </div>
    <button
      class="submit grid-start"
      type="submit"
      [disabled]="!contactForm.valid || buttondisabled"
    >
      submit
    </button>
    <div class="errorMessage fullgrid">
      {{ this.errorMessage }}
    </div>
  </form>
  <div id="confettiCanon1"></div>
  <div id="confettiCanon2"></div>
</section>
