<main>
  <p class="disclaimer">
    This Registration is just for demonstration purposes only. It has no special use.
    Don't use any login you might use on other websites.
  </p>

  <form id="loginform" (submit)="loginUser($event)" autocomplete="on">
    <label>e-M@il:</label>
    <input name="email" type="email" [(ngModel)]="email" />
    <label>Passwort:</label>
    <input name="password" type="password" [(ngModel)]="password" />
    <button type="submit" class="submit">log in</button>
  </form>
</main>