<nav [ngClass]="isOpen ? 'navopen' : ''">
  <a href="/" class="home">Home</a>
  <span class="title">{{ navTitle }}</span>
  <div class="icon" (click)="openNav()">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
  <div class="left">
    <!--
      <a [routerLink]="['/zeltlager']">Zeltlager</a>
      <a [routerLink]="['/colorpicker']">Colorpicker</a>
    -->
    <a [routerLink]="['/projects']">Projects</a>
    <a [routerLink]="['/stack']">Tech Stack</a>
    <a [routerLink]="['/about']">About Me</a>
  </div>
  <div class="right">
    <a
      *ngIf="user"
      id="user"
      (mouseenter)="showLogin()"
      (mouseleave)="hideLogin()"
      [routerLink]="['/profile']"
      >{{ user.name }}</a
    >
    <a
      *ngIf="!user"
      id="login"
      (mouseenter)="showLogin()"
      (mouseleave)="hideLogin()"
      [routerLink]="['/login']"
      >Login</a
    >
    <a *ngIf="!user" [routerLink]="['/registration']">Registration</a>
  </div>
</nav>
<app-user-dropdown
  (mouseenter)="showLogin()"
  (mouseleave)="hideLogin()"
></app-user-dropdown>
