<header>
  <picture>
    <source type="image/webp" srcset="../../assets/funztcoolbanner4.webp" />
    <source type="image/png" srcset="../../assets/funztcoolbanner4.png" />
    <img src="assets/funztcoolbanner4.png" alt="" />
  </picture>
</header>
<app-nav-bar id="navbar" navTitle="bernhardschiffer.dev"></app-nav-bar>
<main>
  <section
    class="content zeltlager"
    style="cursor: pointer;"
    onclick="window.location='/zeltlager';"
  >
    <div class="zeltlagerimg"></div>
    <h1>Zeltlager Anmeldung</h1>
  </section>

  <section
    class="content colorpicker"
    style="cursor: pointer;"
    onclick="window.location='/colorpicker';"
  >
    <h1>colorpicker</h1>
  </section>
</main>
<!--
  <footer>
    <p>@Börnie</p>
  </footer>
-->

<router-outlet></router-outlet>
