<header>
  <picture>
    <source type="image/webp" srcset="../../../assets/funztcoolbanner4.webp" />
    <source type="image/png" srcset="../../../assets/funztcoolbanner4.png" />
    <img src="assets/funztcoolbanner4.png" alt="" />
  </picture>
</header>
<app-nav-bar id="navbar" navTitle="schiffer.dev"></app-nav-bar>
<main>
  <section
    class="content aboutme"
    style="cursor: pointer;"
    onclick="window.location='/about';"
  >
    <h1>about me</h1>
  </section>

  <section
    class="content projects content-white"
    style="cursor: pointer;"
    onclick="window.location='/projects';"
  >
    <h1>Projects</h1>
  </section>

  <section
    class="content techstack content-dark"
    style="cursor: pointer;"
    onclick="window.location='/stack';"
  >
    <h1>Tech Stack</h1>
  </section>

  <section
    class="content zeltlager"
    style="cursor: pointer;"
    onclick="window.location='https://zeltlager.schiffer.dev';"
  >
    <div class="zeltlagerimg"></div>
    <h1>Zeltlager Anmeldung</h1>
  </section>

  <section
    class="content colorpicker"
    style="cursor: pointer;"
    onclick="window.location='/colorpicker';"
  >
    <h1>colorpicker</h1>
  </section>

  <app-footer></app-footer>
</main>
