html {
  --headerheight: 100vh;
}

header {
  height: 50vh;
  width: 100%;
  position: fixed;
  background-color: var(--black);
  color: var(--white);
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header picture {
  text-align: center;
}

header img {
  height: auto;
  width: 40%;
}

main {
  position: relative;
  min-height: calc(100vh - 2.95rem);
  width: 100%;
  z-index: 1;
  overflow: hidden;
  background-color: var(--black);
  top: calc(50vh + 2.93rem);
}

app-nav-bar {
  z-index: 4;
  position: absolute;
  top: 50vh;
  width: 100%;
}

.sticky {
  position: fixed !important;
}

app-nav-bar.sticky {
  top: 0vh !important;
}

.content {
  height: auto;
  padding: 15px;
}

.content-white {
  background-color: var(--white);
  color: var(--black);
}

.content-dark {
  background-color: var(--black);
  color: var(--white);
}

.content h1 {
  position: relative;
  align-self: center;
  text-align: center;
  font-size: 4rem;
  margin: 0 8rem;
}

.zeltlager {
  height: 70vh;
  text-align: center;
  padding: 0;
}

.zeltlager h1 {
  top: -40vh;
  color: white;
}

.zeltlagerimg {
  height: 100%;
  width: 100%;
  background-image: url("../../../pictures/Bild1.webp"),
    url("../../../pictures/Bild1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.8);
}

.colorpicker {
  height: 60vh;
  text-align: center;
  padding: 0;
  background: linear-gradient(
    to right,
    var(--violett),
    var(--blue),
    var(--green),
    var(--yellow),
    var(--orange),
    var(--red)
  );
}

.colorpicker h1 {
  top: 25vh;
  color: white;
}

.aboutme h1 {
  top: 40vh;
  font-size: 2.3rem;
  left: -1.5rem;
  color: var(--black);
}

.aboutme {
  height: 60vh;
  text-align: center;
  background-color: var(--black);
  background-image: url(../../../assets/aboutme_banner_dark.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.projects h1 {
  top: 22vh;
  margin: auto;
  font-size: 6rem;
  background-color: rgba(95, 95, 95, 0.6);
  color: var(--black);
  width: 40rem;
  padding: 1.5rem 0rem;
}

.projects {
  height: 60vh;
  background-color: var(--white);
  background-image: url(../../../assets/projects_banner_light.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.techstack h1 {
  top: 22vh;
  margin: auto;
  font-size: 6rem;
  color: var(--white);
  background-color: rgba(130, 130, 130, 0.3);
  width: 40rem;
  padding: 1.5rem 0rem;
}

.techstack {
  height: 60vh;
  text-align: center;
  background-image: url(../../../assets/techstack_banner_dark.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  position: relative;
  top: calc(2 * 70vh + 2.95rem);
  width: 100%;
  text-align: center;
  color: var(--white);
  border-top: 1px solid #070707;
  background-color: var(--black);
}

@media screen and (max-width: 700px) {
  .content h1 {
    font-size: 3rem;
    margin: 0 1rem;
  }

  header img {
    width: 95%;
  }
}
